<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球疫情监控</title>
    {% block css %}{% endblock %}
     <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/asset/js/echarts-wordcloud.min.js"></script>
    <script src="../static/asset/js/worldZH.js"></script>
    <script src="../static/asset/js/china.js"></script>
<!--    <script src="../static/asset/js/dark.js"></script>-->
</head>
<body>
    {% block content %}{% endblock %}

    {% block js %}{% endblock %}
</body>
</html>