<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>第一个 ECharts 实例</title>
     <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body>

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        var datss3 = []
        var dtss3=[]
        //发送ajax请求
        $.ajax({
            //请求方式
            type : "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url : "http://127.0.0.1:5000/require1",
            success : function(res) {
                console.log(res);
               var len = res.length;
                for(var i = 0; i < len; i++)
                {
                    datss3.push(res[i]["province"]);
                    dtss3.push(res[i]["accu_diagnosis"]);
                }
                console.log(datss3);

        // 基于准备好的dom，初始化echarts实例
        var myCharts = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '第一个 ECharts 实例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: datss3
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: dtss3
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myCharts.setOption(option);

         },
            //请求失败，包含具体的错误信息
            error : function(e){
                console.log(e.status);
                console.log(e.responseText);
            }
         })

    </script>
</body>
</html>